<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="manage_staff_profile">Manage profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_allocated_area">View allocated area</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="staff_view_salary">View salary</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">View subscribed packages</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="staff_view_collection_details">View collection details</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="staff_view_complaints">View complaints</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="staff_view_customer_request">View customer request</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="staff_add_offer">Add offer</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="staff_view_offer">View offer</a></th>
    </tr>
  </table>
</form>
</body>
</html>
