{% extends 'staff/staff_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="1" class="table table-bordered">
    <tr style="background-color: #ff5722;color: black">
      <th  scope="col">Sl.No</th>
      <th  scope="col">Date</th>
      <th  scope="col">Payment status</th>
      <th  scope="col">Amount</th>
      <th  scope="col">Customer Info</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.p_date }}</td>
      <td>{{ i.p_status }}</td>
      <td>{{ i.SUBSCRIPTION_LIST.amount }}</td>
      <td><b style="color: black">Customer Name:</b>{{ i.SUBSCRIPTION_LIST.CUSTOMER.c_name }}<br><b style="color: black">Customer Number:</b>{{ i.SUBSCRIPTION_LIST.CUSTOMER.c_number }} </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
