{% extends 'staff/staff_index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>


</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="1" class="table table-bordered">
    <tr style="background-color: #ff5722;color: black">
      <th scope="col">Sl.No</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">date</th>
      <th scope="col">Expiry Date</th>
      <th scope="col"></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.amount }}</td>
      <td>{{ i.status }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.expiry_date }}</td>
    <td><a href="/staff_approve_customer_request/{{ i.id }}" class="btn btn-outline-success" onclick="return confirm('Are you sure')">Approve</a>
    <a href="" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">Reject</a>
    </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
