<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="area_add">Add areas</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_area">View areas</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="staff_add">Add staff</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="view_staff">View staff</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="package_add">Add package</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_package">View package</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_customer">View customer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_subscription_list">View subscription list</a></th>
    </tr>
{#    <tr>#}
{#      <th scope="row"><a href="view_customer_status">View customer status</a></th>#}
{#    </tr>#}
    <tr>
      <th scope="row"><a href="#">Report generation</a></th>
    </tr>
  </table>
</form>
</body>
</html>
