{% extends 'admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="1" class="table table-bordered">
    <tr style="background-color: #ff5722;color: black">
      <th scope="col">Sl.No</th>
      <th  scope="col">Name</th>
      <th  scope="col">Address</th>
      <th  scope="col">Email</th>
      <th  scope="col">Contact</th>
      <th  scope="col">Photo</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.c_name }}<br>{{ i.c_number }}</td>
      <td><b style="color: black">Place :</b> {{ i.c_place }}<br><b style="color: black">Post :</b>{{ i.c_post }}<br><b style="color: black">Pin :</b>{{ i.c_pin }}</td>
      <td>&nbsp;{{ i.c_email }}</td>
        <td>&nbsp;{{ i.c_contact }}</td>
       <td><img src="{{ i.c_photo }}" width="100px" height="100px"></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
