{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Curved Table</title>

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="1" class="table table-bordered">
    <tr style="background-color: #ff5722;color: black">
      <th scope="col">Sl.No</th>
      <th scope="col">Area Name</th>
      <th scope="col">Action</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.area_name }}</td>
      <td>
        <a href="/area_update/{{ i.id }}" class="btn btn-outline-success">Update</a>
        <a href="/area_delete/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
